TikTokLive==6.4.4 # Home-page: https://github.com/isaackogan/TikTokLive
pandas==2.0.0
colorama==0.4.6
MouseInfo==0.1.3
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pytweening==1.0.4
